<a href="https://colab.research.google.com/github/MD-SALMAN-HOSSAIN/Data_Science_Ostad/blob/main/Cust_Purch_Data_Exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ecommerce Purchases Exercise Overview

Hi Guys,<br>
After a crash course on pandas for data analysis, its time to do some practice!!!<br>
Because of privacy issues, I have created a fake dataset here with 30K entries. <br>
The situation is, customers are providing some personal information while purchasing stuff on-line or in-store. For some reasons, your client wants to know the answer to some of his questions from the dataset, let's try to help him!.<br>

*Feel free to consult the solutions if needed. Please note, the tasks given in the exercises, can be solved in different ways. Try your best answer and compare with the solutions.* <br>
&#9758; The dataset is provided in the course downloads.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Cust_Purch_FakeData.csv')

**2. Its good idea to see how the data look like, display first 5 rows of your data-set.**

In [ ]:
# Code here please
df.head()

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

**3. How many entries your data have?
Can you tell the no. of columns in your data?**

In [ ]:
#another way to do it
rows = df.shape[0]
print(rows)
cols = df.shape[1]
print(cols)

30000
20

**4. What are the max and min ages of your customer? Can you find mean of your customer?**

In [ ]:
# Code here please
print(df['age'].max())
print(df['age'].min())
print(df['age'].mean())

65
18
41.550066666666666

Max. age of the customer is:  65
Max. age of the customer is:  18
Avg. age of the customer is:  41.550066666666666

**5. What are the three most common customer's names?**<br>
&#9989; [<code>**value_counts()**</code>](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) returns object containing counts of unique values. The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

In [ ]:
# Code here please
df['first'].value_counts().head(3)

Willie     130
Francis    124
Eula        86
Name: first, dtype: int64

Willie     130
Francis    124
Eula        86
Name: first, dtype: int64

**6. Two customers have the same phone number, can you find those customers**?

In [ ]:
# Code here please
sa_number = df['phone'].value_counts()
s = sa_number[sa_number == 2]
print(s)

(263) 382-8004    2
Name: phone, dtype: int64

In [ ]:
# lets find what phone number is twice!

(263) 382-8004    2
(668) 836-2738    1
Name: phone, dtype: int64

In [ ]:
same = df[df['phone']== "(263) 382-8004" ]

In [ ]:
same

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

In [ ]:
# Now we know the phone number, let's find out the other stuff!

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

**7. How many customers have profession "Structural Engineer"?**

In [ ]:
# Code here please
prof = df[df['profession'] == 'Structural Engineer'].count()
prof

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

**8. How many male customers are 'Structural Engineer'?**

In [ ]:
male_custom = df[(df['gender']=='Male') & (df['profession']=='Structural Engineer') ].count()

In [ ]:
male_custom

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

**9. Find out the female Structural Engineers from province Alberta (AB)?**

In [ ]:
# Code here please
female = df[(df['gender']=='Female') & (df["province"]=='AB') & (df['profession']=='Structural Engineer') ]

In [ ]:
female

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

**10. What is the max, min and average spending?**

In [ ]:
# Code here please
Maxspending = df['price(CAD)'].max()
Maispending = df['price(CAD)'].min()
Avgspending = df['price(CAD)'].mean()

print(Maxspending)
print(Maispending)
print(Avgspending)

100.0
0.0
49.990775

Max. spending:  100.0
Mai. spending:  0.0
Avg. spending:  49.990775000000184

**11. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!**

In [ ]:
# Code here please
spen_custom = df[df['price(CAD)'] == 0.0]

In [ ]:
spen_custom

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

**12. As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?**

In [ ]:
# Code here please
high = df[df['price(CAD)'] >= 100.0]

In [ ]:
high

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

**13. How many emails are associated with this credit card number '5020000000000230'?**

In [ ]:
a_df = df[df['cc_no'] == 5020000000000230]
uamails = a_df['email']
uamails

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

**14. We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?**<br>
*Use `sum()` and `count()` and see the difference in their use :)*

In [ ]:
df[df['cc_exp'].apply(lambda x: x[3:]) == '2019'].count()[0]

2684

In [ ]:
#cust[cust['cc_exp'].apply(lambda x: x[5:]) == '19'].count()

2684

**15. How many people use Visa as their Credit Card Provider?**

In [ ]:
# Code here please
visa = df[df['cc_type'] == 'Visa']
user_co = visa.shape[0]
print(user_co)

1721

1721

**16. Can you find the customer who spent 100 CAD using Visa?**

In [ ]:
# Code here please
customer = df[(df['cc_type'] == 'Visa') & (df['price(CAD)'] == 100.0)]

In [ ]:
customer

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

**17. What are two most common professions?**

In [ ]:
# Code here please
t_p = df['profession'].value_counts().nlargest(2)

In [ ]:
t_p

Preschool Teacher       112
Distribution Manager    107
Name: profession, dtype: int64

Preschool Teacher       112
Distribution Manager    107
Name: profession, dtype: int64

**18. Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc...)**

In [ ]:
(t_p['email'].str.split('@').str[-1]).value_counts().head()

gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: email, dtype: int64

gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: email, dtype: int64

**19. Is there any customer who is using email with "am.edu"?**<br>
Hint: Use `lambda` expression in `apply()`. split the email address at `@`.

In [ ]:
# Code here please
email = df[df['email'].apply(lambda x: x.split('@')[1] == 'am.edu')]

In [ ]:
email

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066

**20. Which day of the week, the store gets more customers?**

In [ ]:
# Code here please
cuscounts = df['weekday'].value_counts().head()
cuscounts

Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: weekday, dtype: int64

Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: weekday, dtype: int64

# Excellent work!